{%- comment -%}
  Blog Schema.org structured data for homepage
  Based on: https://schema.org/Blog
{%- endcomment -%}

{% if page.layout == 'home' %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Blog",
  "name": {{ site.title | jsonify }},
  "description": {{ site.description | jsonify }},
  "url": {{ site.url | jsonify }},
  "author": {
    "@type": "Person",
    "name": {{ site.social.name | jsonify }},
    "url": {{ site.social.links[0] | jsonify }}
  },
  "inLanguage": {{ site.lang | default: 'en' | jsonify }},
  {% if site.social_preview_image %}
  {%- capture img_url -%}
    {% include media-url.html src=site.social_preview_image absolute=true %}
  {%- endcapture -%}
  "image": {
    "@type": "ImageObject",
    "url": {{ img_url | strip | jsonify }}
  }
  {% endif %}
}
</script>
{% endif %}
