<!-- The trending tags list (excludes posts with exclude_from_trending: true) -->

{% assign MAX = 10 %}

{% assign trending_tags = '' | split: '' %}

{% for entry in site.data.trending_tag_counts limit: MAX %}
  {% assign trending_tags = trending_tags | push: entry.name %}
{% endfor %}

{% if trending_tags.size > 0 %}
  <section>
    <h2 class="panel-heading">{{- site.data.locales[include.lang].panel.trending_tags -}}</h2>
    <div class="d-flex flex-wrap mt-3 mb-1 me-3">
      {% for tag_name in trending_tags %}
        {% assign url = tag_name | slugify | url_encode | prepend: '/tags/' | append: '/' %}
        <a class="post-tag btn btn-outline-primary" href="{{ url | relative_url }}">{{ tag_name }}</a>
      {% endfor %}
    </div>
  </section>
{% endif %}
